:root {
  --lg-color: #E4FDE1; /* laurel green background color */
  --success-color: #456990; /* wintergreen green */
  --warning-color: #F45B69; /* Claret Red */
  --square-color: #F45B69; /* light orange square color */
  --x-color: #000000; /* black X color */
  --o-color: #8b4513; /* brown O color */
}

html {
  height: 100vh;
  background-color: var(--lg-color);
}